# Ojin env vars
OJIN_API_KEY=
OJIN_CONFIG_ID=
OJIN_WS_URL=

# LiveKit env vars
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

# ElevenLabs env vars
#ELEVEN_API_KEY=
ELEVEN_API_KEY=
ELEVEN_VOICE_ID=

# Groq (LLM)
GROQ_API_KEY=

# OpenAI (LLM)
OPENAI_API_KEY=

# Deepgram (STT - speech to text)
DEEPGRAM_API_KEY=

# Gemini (STT + LLM + TTS)
GOOGLE_API_KEY=
